<div id="container" style="background-color: gray">


    <div id="board"> 
  
    <div class="row g-0">
      <div class="col" id="H1"> </div>
      <div class="col" id="H2"> </div>
      <div class="col" id="H3"> </div>
      <div class="col" id="H4"> </div>
      <div class="col" id="H5"> </div> 
      <div class="col" id="H6"> </div>
      <div class="col" id="H7"> </div>
      <div class="col" id="H8"> </div>
    </div>
  
    <div class="row g-0">
      <div class="col" id="G1"> </div>
      <div class="col" id="G2"> </div>
      <div class="col" id="G3"> </div>
      <div class="col" id="G4"> </div>
      <div class="col" id="G5"> </div> 
      <div class="col" id="G6"> </div>
      <div class="col" id="G7"> </div>
      <div class="col" id="G8"> </div>
    </div>
  
    <div class="row g-0">
      <div class="col" id="F1"> </div>
      <div class="col" id="F2"> </div>
      <div class="col" id="F3"> </div>
      <div class="col" id="F4"> </div>
      <div class="col" id="F5"> </div> 
      <div class="col" id="F6"> </div>
      <div class="col" id="F7"> </div>
      <div class="col" id="F8"> </div>
    </div>
  
    <div class="row g-0">
      <div class="col" id="E1"> </div>
      <div class="col" id="E2"> </div>
      <div class="col" id="E3"> </div>
      <div class="col" id="E4"> </div>
      <div class="col" id="E5"> </div> 
      <div class="col" id="E6"> </div>
      <div class="col" id="E7"> </div>
      <div class="col" id="E8"> </div>
    </div>
  
 
  
    <div class="row g-0">
      <div class="col" id="D1"> </div>
      <div class="col" id="D2"> </div>
      <div class="col" id="D3"> </div>
      <div class="col" id="D4"> </div>
      <div class="col" id="D5"> </div> 
      <div class="col" id="D6"> </div>
      <div class="col" id="D7"> </div>
      <div class="col" id="D8"> </div>
    </div>

    <div class="row g-0">
      <div class="col" id="C1"> </div>
      <div class="col" id="C2"> </div>
      <div class="col" id="C3"> </div>
      <div class="col" id="C4"> </div>
      <div class="col" id="C5"> </div> 
      <div class="col" id="C6"> </div>
      <div class="col" id="C7"> </div>
      <div class="col" id="C8"> </div>
    </div>
  
    <div class="row g-0">
      <div class="col" id="B1"> </div>
      <div class="col" id="B2"> </div>
      <div class="col" id="B3"> </div>
      <div class="col" id="B4"> </div>
      <div class="col" id="B5"> </div> 
      <div class="col" id="B6"> </div>
      <div class="col" id="B7"> </div>
      <div class="col" id="B8"> </div>
    </div>
  
    <div class="row g-0">
      <div class="col" id="A1"> </div>
      <div class="col" id="A2"> </div>
      <div class="col" id="A3"> </div>
      <div class="col" id="A4"> </div>
      <div class="col" id="A5"> </div> 
      <div class="col" id="A6"> </div>
      <div class="col" id="A7"> </div>
      <div class="col" id="A8"> </div>
    </div>
  </div>
</div>